<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<body>
    <div id="container-login">
        <div id="title">
            <i class="material-icons lock">lock</i> Login
        </div>

        <form id="login-form" >
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="email" placeholder="email" type="text" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Password" type="password" required class="validate" autocomplete="off">
            </div>

            <div class="remember-me">
                <input type="checkbox">
                <span style="color: #DDD">Remember Me</span>
            </div>

            <input type="submit" value="Log In" />
        </form>

        <div class="forgot-password">
            <a href="#">Forgot your password?</a>
        </div>
        <div class="privacy">
            <a href="#">Privacy Policy</a>
        </div>

        <div class="register">
            Don't have an account yet?
            <a href="http://localhost:8000/register.html"><button id="register-link">Register here</button></a>
        </div>
        <script>
            function login() {
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;
                
                const requestBody = {
                    email: email,
                    password: password
                };
        
                // Make an AJAX request to the backend API
                fetch("http://127.0.0.1:8000/api/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(requestBody),
                })
                .then(response => {
                    
                    if (!response.ok) {
                        alert("Login failed");
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                    // response.json()
                } )
                .then(data => {
                    alert("Login ok");
                    console.log("Second then");
                    console.log(data);
                    localStorage.setItem('userData', JSON.stringify(data));
                    
                })
                .catch(error => {
                    console.error("Error:", error);
                    // Handle error scenarios here
                });
            }
        
            document.getElementById("login-form").addEventListener("submit", function(event) {
                event.preventDefault(); // Prevent the form from submitting traditionally
                login(); // Call the login function when the form is submitted
            });
        </script>
    </div>
</body>

</html>